@model EmployeeManagement_AspNetCore.Models.Employee;
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.PageTitle</title>
</head>
<body>

   
        
        <div>Name : @Model.Name</div>
    <div>Email: @Model.Email</div>
    <div>Department : @Model.Department</div>
   
</body>
</html>
