@model IEnumerable<Employee>

@{    
    ViewBag.Title = "Employee Page";
}

<div class="card-deck">
      @foreach (var employee in Model)
    { 
        <div class="card m-3">
            <div class="card-header">
                <h3>@employee.Name</h3>
            </div>
            <img class="card-img-top" src="~/images/noimage.jpg" asp-append-version="true"/>
            <div class=" cardcard-footer text-center">
                <a asp-controller="home" asp-action="details" asp-rout-id="@employee.Id" class=" btn btn-primary m-0 ">View</a>
                <a href="#" class="btn btn-primary m-0 ">Edit</a>
                <a href="#" class="btn btn-primary m-0">Delete</a>
            </div>
        </div>
            
     }
</div>

