<!DOCTYPE html>

<html>
<head>    
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/jquery/jquery.js"></script>    
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>  @* jquery need to be in the top of js bootstrap *@
    <link href="~/css/site.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-light navbar-1 white navbar-expand-sm text-bg-light">
            <a class="navbar-brand" asp-action="index" asp-controller="home">
            <img src="~/Images/flower.jpg " height="30" width="30" />
        </a>      
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent15"
                    aria-controls="navbarSupportedContent15" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent15">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a asp-action="index" asp-controller="home" class="nav-link">List</a>
                </li>
                <li class="nav-item">
                    <a asp-action="create" asp-controller="home" class="nav-link">Create</a>
                </li>
            </ul>
         </div>
    </nav>
    <div >        
        @RenderBody()
    </div> 
   @* @RenderSection("Scripts",required : false)*@
   @if (IsSectionDefined("Scripts"))
    {
       @RenderSection("Scripts",required : true)
    }
    </div>
</body>
</html>
